<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- users edit start -->
        <section class="app-user-edit">
            <!-- app-breadcrumb component -->
            <app-breadcrumb [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
            <!--/ app-breadcrumb component -->
            <div class="card">
                <div class="card-body">
                    <!-- Account Tab starts -->
                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel" >

                        <!-- users edit account form start -->
                        <form class="form-validate" (ngSubmit)="(addNew.form.valid)" #addNew="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_text">First Text</label>
                                        <input
                                                type="text"
                                                id="first_text"
                                                class="form-control"
                                                name="first_text"
                                                [(ngModel)]="first_text"
                                                [class.error]="addNew.submitted && UserNameRef.invalid"
                                                #UserNameRef="ngModel"
                                                required
                                        />
                                        <span *ngIf="addNew.submitted && UserNameRef.invalid" class="invalid-form">
                          <small class="form-text text-danger" *ngIf="UserNameRef.errors.required"
                          >This field is required!</small
                          >
                        </span>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="second_text">Second Text</label>
                                        <input
                                                type="text"
                                                id="second_text"
                                                class="form-control"
                                                name="second_text"
                                                [(ngModel)]="second_text"
                                                [class.error]="addNew.submitted && UserNameRef.invalid"
                                                #UserNameRef="ngModel"
                                                required
                                        />
                                        <span *ngIf="addNew.submitted && UserNameRef.invalid" class="invalid-form">
                          <small class="form-text text-danger" *ngIf="UserNameRef.errors.required"
                          >This field is required!</small
                          >
                        </span>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="media mb-2">
                                        <div class="media-body mt-50">

                                            <div *ngIf="displayImage">
                                                <img    *ngIf="is_image"
                                                        class="users-avatar-shadow  mr-2 my-25 cursor-pointer"
                                                        [src]="slideImage"

                                                        width="100%"
                                                        alt="User avatar"
                                                />

                                                <video *ngIf="!is_image"
                                                        class="users-avatar-shadow  mr-2 my-25 cursor-pointer" controls>
                                                    <source [src]="slideImage" type="video/*">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <p class="mb-50">Is Image</p>
                                            <input
                                                    type="checkbox"
                                                    class="custom-control-input"
                                                    id="customSwitch10"
                                                    name="is_image"
                                                    [(ngModel)]="is_image"
                                                    [class.error]="addNew.submitted && UserNameRef.invalid"
                                                    #UserNameRef="ngModel"
                                            />
                                            <label class="custom-control-label" for="customSwitch10">
                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                            </label>
                                        </div>
                                        <span *ngIf="addNew.submitted && UserNameRef.invalid" class="invalid-form">
                          <small class="form-text text-danger" *ngIf="UserNameRef.errors.required"
                          >This field is required!</small
                          >
                        </span>
                                    </div>

                                </div>
                                <div class="col-md-5">
                                    <div class="media mb-2">
                                        <div class="media-body mt-50">
                                            <div class="col-12 d-flex mt-1 px-0">
                                                <label class="btn btn-primary btn-block mr-75 mb-0" for="change-picture">
                                                    <span class="d-none d-sm-block">Upload</span>
                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        id="change-picture"
                                                        hidden
                                                        (change)="uploadImage($event)"
                                                    />
                                                    <span class="d-block d-sm-none">
                            <i class="mr-0" data-feather="edit"></i>
                          </span>
                                                </label>
                                                <button class="btn btn-outline-secondary d-block d-sm-none">
                                                    <i class="mr-0" data-feather="trash-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                    <button
                                            type="submit"
                                            (click)="submit(addNew)"
                                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                                            rippleEffect
                                    >
                                        Save Slide
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- users edit account form ends -->
                    </div>
                    <!-- Account Tab ends -->
                </div>
            </div>
        </section>
        <!-- users edit ends -->
    </div>
</div>
