<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="users-list-wrapper">
            <!-- app-breadcrumb component -->
            <app-breadcrumb [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
            <!--/ app-breadcrumb component -->
            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center"
                            >Show
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label
                            >
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 ml-md-0"
                            >Search:<input
                                    [(ngModel)]="searchValue"
                                    name="searchValue"
                                    type="search"
                                    class="form-control ml-25"
                                    (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)"
                            /></label>
                            <button class="btn btn-primary ml-1" rippleEffect
                                    (click)="toggleSidebar('new-location-sidebar')">
                                <em data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></em>
                                <span class="d-none d-sm-inline-block">Add New Location</span>
                            </button>
                        </div>
                    </div>
                </div>
                <ngx-datatable
                        [rows]="itemsResponse.data"
                        [rowHeight]="50"
                        class="bootstrap core-bootstrap"
                        [limit]="selectedOption"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [scrollbarH]="true"
                >
                    <ngx-datatable-column name="Location Name EN" prop="title_en" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Location Name AR" prop="title_ar" [width]="200"></ngx-datatable-column>

                    <ngx-datatable-column name="Number of units" prop="number_of_unites" [width]="200">
                        <ng-template let-sub="value" ngx-datatable-cell-template>
                            <div class="badge badge-info">{{ sub }}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="isActive" [width]="200">
                        <ng-template let-row="row" let-status="value"  ngx-datatable-cell-template>
                            <div class="custom-control custom-control-success custom-switch">
                                <input type="checkbox" [checked]="status" (change)="updateStatus(row.id)" class="custom-control-input" id="customSwitch{{row.id}}" />
                                <label class="custom-control-label" for="customSwitch{{row.id}}"></label>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Last Update" prop="last_modify" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div ngbDropdown container="body">
                                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                                </button>
                                <div ngbDropdownMenu>
                                    <a href="javascript:;" routerLink="/locations/{{row.id}}/edit" ngbDropdownItem>
                                        <span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Edit</a>
                                    <a href="javascript:;" ngbDropdownItem (click)="fireDeleteModel(row.id, row.title_en, row.number_of_unites)"
                                    ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a
                                    >
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </section>
    </div>
    <!-- New User Sidebar -->
    <core-sidebar
            class="modal modal-slide-in sidebar-todo-modal fade"
            name="new-location-sidebar"
            overlayClass="modal-backdrop"
    >
        <app-new-location-sidebar></app-new-location-sidebar>
    </core-sidebar>
    <!--/ New User Sidebar -->

</div>
