<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- users edit start -->
        <section class="app-user-edit">
            <!-- app-breadcrumb component -->
            <app-breadcrumb [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
            <!--/ app-breadcrumb component -->
            <div class="card">
                <div class="card-body">
                    <!-- Account Tab starts -->
                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel" *ngIf="currentRow">

                        <!-- users edit account form start -->
                        <form class="form-validate" (ngSubmit)="(categoryEdit.form.valid)" #categoryEdit="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="categoryName">Type Name EN</label>
                                        <input
                                                type="text"
                                                id="categoryName"
                                                class="form-control"
                                                name="title_en"
                                                [(ngModel)]="currentRow.data.title_en"
                                                [class.error]="categoryEdit.submitted && UserNameRef.invalid"
                                                #UserNameRef="ngModel"
                                                required
                                        />
                                        <span *ngIf="categoryEdit.submitted && UserNameRef.invalid" class="invalid-form">
                          <small class="form-text text-danger" *ngIf="UserNameRef.errors.required"
                          >This field is required!</small
                          >
                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="categoryName">Type Name AR</label>
                                        <input
                                                type="text"
                                                id="categoryNameAR"
                                                class="form-control"
                                                name="title_ar"
                                                [(ngModel)]="currentRow.data.title_ar"
                                                [class.error]="categoryEdit.submitted && UserNameRef.invalid"
                                                #UserNameRef="ngModel"
                                                required
                                        />
                                        <span *ngIf="categoryEdit.submitted && UserNameRef.invalid" class="invalid-form">
                          <small class="form-text text-danger" *ngIf="UserNameRef.errors.required"
                          >This field is required!</small
                          >
                        </span>
                                    </div>
                                </div>

                                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                    <button
                                            type="submit"
                                            (click)="submit(categoryEdit)"
                                            class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                                            rippleEffect
                                    >
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- users edit account form ends -->
                    </div>
                    <!-- Account Tab ends -->
                </div>
            </div>
        </section>
        <!-- users edit ends -->
    </div>
</div>
